<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>MyWeather</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans+Condensed:300" rel="stylesheet"> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="conteiner">
	<div class="col-md-12 md-12" >
		<div class="col-md-1"></div>
		<div class="col-md-10">
    		<div class="col-md-3">
				<span class="main-temp font"></span>
		        <ul id="C-F">
		            <li><a>C</a></li>
		            <li><a>F</a></li>
		        </ul>
    		</div>

			<div class="col-md-7 cc">
			    <div class="col-md-12">
					<form action="">
						<div class="input-group">
				    		<span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
				      		<input id="user-input" type="text" class="form-control font" autocomplete="off">
				    	</div>
					</form>
			        <br>
			        <span class="title font"></span> 
			        <span id="country" class="country font"><%=country %>, <%=city %></span>
            		<span class="title font"></span> 
			        <ul  class="nav navbar-nav weather-description">
			            <li>
			            	<p id="sunrise-value"></p>
			            	<p id="sunset-value"></p>
			            </li>
			            <li>
			            	<p id="wind-value"></p>
			            	<p id="humidity-value"></p>
			            </li>
			            <li>
			            	<p id="barometer-value"></p>
			            	<p id="visibility-value"></p>
			            </li>
			        </ul>
			    </div>
			</div>

			<div class="scroll-box" id="scroll">
				<ul class="weather-box nav navbar-nav" >
		            <li>
		                <a>
		                    <span class="day-name">Tue, 1 </span><br>
		                    <span class="icon"><i class="fa fa-sun-o  fa-2x" aria-hidden="true"></i></span><br>
		                    <span class="temp-day font">
		                    	<p id="temp-max-value"></p>
		                    </span>
		                    <span class="temp-night font">
		                    	<p id="temp-min-value"></p>
		                    </span>
		                </a>
		            </li>
		            <li>
		                <a>
		                    <span class="day-name">Wed, 2</span><br>
		                    <span class="icon"><i class="fa fa-sun-o  fa-2x" aria-hidden="true"></i></span><br>
		                    <span class="temp-day font">
		                    	<p id="temp-max-value"></p>
		                    </span>
		                    <span class="temp-night font">
		                    	<p id="temp-min-value"></p>
		                    </span>
		                </a>
		            </li>
		            <li>
		                <a>
		                    <span class="day-name">Thu, 3</span><br>
		                    <span class="icon"><i class="fa fa-sun-o  fa-2x" aria-hidden="true"></i></span><br>
		                    <span class="temp-day font">
		                    	<p id="temp-max-value"></p>
		                    </span>
		                    <span class="temp-night font">
		                    	<p id="temp-min-value"></p>
		                    </span>
		                </a>
		            </li>
		            <li>
		                <a>
		                    <span class="day-name">Fri, 4</span><br>
		                    <span class="icon"><i class="fa fa-sun-o  fa-2x" aria-hidden="true"></i></span><br>
		                    <span class="temp-day font">
		                    	<p id="temp-max-value"></p>
		                    </span>
		                    <span class="temp-night font">
		                    	<p id="temp-min-value"></p>
		                    </span>
		                </a>
		            </li>  
		            <li>
		                <a>
		                    <span class="day-name">Sat, 5</span><br>
		                    <span class="icon"><i class="fa fa-sun-o  fa-2x" aria-hidden="true"></i></span><br>
		                    <span class="temp-day font">
		                    	<p id="temp-max-value"></p>
		                    </span>
		                    <span class="temp-night font">
		                    	<p id="temp-min-value"></p>
		                    </span>
		                </a>
		            </li>   
		            <li>
		                <a>
		                    <span class="day-name">Sat, 6</span><br>
		                    <span class="icon"><i class="fa fa-sun-o  fa-2x" aria-hidden="true"></i></span><br>
		                    <span class="temp-day font">
		                    	<p id="temp-max-value"></p>
		                    </span>
		                    <span class="temp-night font">
		                    	<p id="temp-min-value"></p>
		                    </span>
		                </a>
		            </li>   
        		</ul> 
    		</div>    	
    	<div class="col-md-4"></div>
 	</div>

	<div class="col-md-1"></div>

	</div>
	<div class="col-md-12 md-11" id="particles-js"></div>  
</div>

<!---->
	<script src="js/scroll.js"></script>
	<script src="js/auto_inputbox.js"></script>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.textchange/0.1/jquery.textchange.min.js"></script>

	<script>
		particlesJS.load('particles-js', 'js/json/particles.json', function() {
				console.log('particles.json loaded...');
			});
	</script>

	<script>
		$(document).ready(function() {

			$('#user-input').autoInput({
				url: '/api/search/',
				formatElement: function(el) {
					return el.toUpperCase();
				},
				onSubmit: function(event, value) {
					event.preventDefault();

					loadCurrentWeather(value);
					loadForecastWeather(value);
				}
			});

		});
	</script>

  	<script>
  		var days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];

  		var convertTimestampToLocaleTime = function(timestamp) {
  			var time = new Date(timestamp * 1000);

  			return time.toLocaleTimeString();
  		}

  		var convertTimestampToLocaleDateTime = function(timestamp) {
  			var time = new Date(timestamp * 1000);

  			return days[time.getDay() - 1] + ', ' + time.getDate();
  		}

		var loadCurrentWeather = function(place) {
			var processCurrentWeather = function(data) {
				$('.main-temp.font').html(Math.ceil(data.main.temp));
				$('.title.font').html(data.weather[0].description);
				$('#humidity-value').html('Humidity ' + data.main.humidity + '%');
				$('#barometer-value').html('Barometer ' + data.main.pressure + ' mb');
				$('#wind-value').html('Wind ' + data.wind.speed + ' m/s ( ' + data.wind.deg + ' )');

				$('#sunrise-value').html('Sunrise ' + convertTimestampToLocaleTime(data.sys.sunrise));
				$('#sunset-value').html('Sunset ' + convertTimestampToLocaleTime(data.sys.sunset));
				$('#visibility-value').html('Visibility ' + data.visibility + ' m');

				$('#country').html(data.sys.country + ', ' + data.name);
			}

			$.ajax({
				method: 'GET',
				url: '/api/getCurrentWeather/' + place,
				dataType: 'json',
				success: processCurrentWeather
			});
		}

		var loadForecastWeather = function(place) {
			var setForecastData = function(minTemp, maxTemp, elInd) {
	  			var context = $('.weather-box.nav.navbar-nav>li>a').eq(elInd);
				$('#temp-max-value', context).html(Math.round(maxTemp, 1) + '<sup>°</sup>');
				$('#temp-min-value', context).html(Math.round(minTemp, 1) + '<sup>°</sup>');
	  		}			

			var processForecastData = function(data, next) {
	  			var i = 0, elInd = 0;
				while (i < data.list.length) {
					var dateGroup = [];
					var initDate = new Date((data.list[i].dt - new Date().getTimezoneOffset() * 60) * 1000).getDate();

					var mappedDates = data.list.filter(function(el) {
						return new Date((el.dt - new Date().getTimezoneOffset() * 60) * 1000).getDate() == initDate;
					});

					// find min temp
					var minTemp, maxTemp;

					if (mappedDates.length > 1) { 
						minTemp = mappedDates.reduce(function(prev, current) {
							return Math.min(isNaN(prev) ? prev.main.temp_min : prev, current.main.temp_min);
						});

						// find max temp
						maxTemp = mappedDates.reduce(function(prev, current) {
							return Math.max(isNaN(prev) ? prev.main.temp_max : prev, current.main.temp_max);
						});
					} else {
						minTemp = mappedDates[0].main.temp_min;
						maxTemp = mappedDates[0].main.temp_max;
					}
					
					setForecastData(minTemp, maxTemp, elInd);

					i += mappedDates.length;
					elInd++;
				}
	  		}

			$.ajax({
				method: 'GET',
				url: 'api/getForecastWeather/' + place,
				dataType: 'json',
				success: processForecastData
			});
		}

		$(document).ready(function() {
			var place = $('#country').html();

			loadCurrentWeather(place);
			loadForecastWeather(place);
		});		
	</script>
</body>
</html>